<!-- Home Page for the web application that provides an input form for the production records -->
{% extends "layout.html" %}
{% block content %}
   <h1>My Way Café Production Record</h1>


	
	<form action = "/generateTable/" method = "POST">
	{% csrf_token %}
		<div class="row">
			<div class="form-group col-xs-4 col-md-4">
				<label for="submission-date" class="control-label">Meal Date</label>
				<input type="date" name="date" id="submission-date" class="h-50 form-control" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-4 col-md-4">
				<label for="school" class="control-label">School</label>
				<select name="school" class="custom-select form-control" id="school" required>
					{% for school in schools %}
					<option>{{ school }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-4 col-md-4">
				<label for="meal" class="control-label">Meal</label>
				<select name="meal" id="meal" class="custom-select form-control" required>
					<option>Breakfast</option>
					<option>Lunch</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-xs-4 col-md-4">
				<label for="daily-notes" class="control-label">Daily Notes</label>
				<textarea rows="4" cols="50" id='daily-notes' name="daily-notes" placeholder="How did the day go?" class="form-control"></textarea>
			</div>
		</div>
  	
  	{% for fruitName in numFruits %}
		<div class="row">
			<div class="form-group col-xs-4 col-md-4">
				<label for="{{ fruitName }}" class="control-label">{{ fruitName }}</label>
				<select name="{{ fruitName }}" class="custom-select form-control" id="{{ fruitName }}" required>
					<option>None</option>
					{% for fruit in fruits %}
					<option>{{ fruit }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	{% endfor %}
  	<input type = "submit" value = "Submit" class="btn btn-success btn-lg center-block" name="submittype">
    <input type="submit" value="Print" class="btn btn-success btn-lg center-block" name="submittype">
  	<br><br>
  </form>
  <style>
  form {
      position: relative;
      margin-top: 0px;
      margin-bottom: 20px;
      margin-right: 20px;
      margin-left: 50px;
   }
   input {
      color: black;
      border-color: black;
   }
   select {
   	color: black;
   	border-color: black;
   }
   textarea {
   	color: black;
   	border-color: black;
   }
</style>
{% endblock content %}
