<!DOCTYPE html>

<html>
<!-- The template that each page of the web application will follow -->
<!-- All common elements between the web application pages will be abstracted here -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "/static/css/bootstrap.min.css">
	<title>
		MWC - Production Record
	</title>
	

</head>
<style>
	form { font-size: 22px; }
</style>
<body>
	{% block content %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "/static/js/bootstrap.min.js'">
</body>
</html>
